.text-center {
  text-align: center;
}
.top-image {
  text-align: center;
}
.top-image img {
  border-color: #f1f5f5 !important;
  transition: ease-in-out 500ms;
}
.top-image img:hover {
  border-color:  #0dcaf0 !important ;
}

.top-glass {
  background: rgba(252, 253, 252, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(252, 253, 252, 0.73);
}
#name {
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

h2 {
  color: #235cc7;
}

a {
  color: #000;
  transition: 1s;
}

a:hover {
  color: #f50a0a;
}
.tags span {
  border: 3px solid rgb(109, 111, 230);
  color: rgb(109, 111, 230);
  padding: 5px 8px;
  display: inline-block;
  margin: 2px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: bold;
}
.top-container {
  background-image: url("tlo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.experience > ul, .education ul {
  list-style: none;
  padding: 0;
}

.experience > ul > li, .education > ul > li {
  padding: 10px 0;
}

.skills {
  font-size: 0.8rem;
}

footer {
  background-color: #0DCAF0;
  padding: 5px 10px;
  text-align: left;
}
.footer {
  text-align: center;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}